.line-price {
	background-color:#eee;
}
.hh-line-details {
.line-details {
	line-height:1.2;
}
.line-image{
	img{
		width:100%;
	}
}
.details-header {
	height:60px;
	padding:0 10px;
	font-size:1.1428em;
	line-height:60px;
}
.right-angle i{
	color:$hover-font-color1;
	font-size:2em;
	padding-top:15px;
}
.details-body {
	padding:10px;
	border-top:solid 1px $four-border-color;
	border-bottom:solid 1px $four-border-color;
	background:$four-bg-color;
}
.details-body .col-xs-6{
	line-height:2;
}
.media{
	padding:5px 0;
}
.media.border-bottom{
	padding-bottom:15px;
	border-bottom:solid 1px $four-border-color;
}
.media .media-left a{
	width:40px;
	height:40px;
	display:block;
	line-height:40px;
	background:$main-bg-color;
	border-radius:50% 50% 0 50%;
	color:$main-front-color;
	text-align:center;
}
}