.hh-order-row-content {
    padding-top: 20px;
    padding-bottom:30px;
}

.hh-order-row-content .list-group .list-group-item .list-group-item-heading {
    font-size: 16px;
    line-height: 1.28;
}

.hh-order-row-content .list-group .list-group-item .list-group-item-text {
    font-size: 12px;
}
.hh-mt--10 {
	margin-top:-10px;
}
.hh-mlr-10 {
	margin-left:10px;
	margin-right:10px;
}
.hh-pay-back{
	box-shadow:none;
	border:none;
}