.hh-order-row-content {
    padding-top: 20px;
    padding-bottom: 30px;
}

.hh-order-row-content .list-group .list-group-item .list-group-item-heading {
    font-size: 1.2em;
    line-height: 1.28;
}

.hh-order-row-content .list-group .list-group-item .list-group-item-text {
    font-size: 0.9em;
}
.hh-mt--10 {
	margin-top:-10px;
}
.hh-mlr-10 {
	margin-left:10px;
	margin-right:10px;
}
.hh-pay-back{
	box-shadow:none;
	border:none;
}
/*hh-order_submit_header*/
.hh-order_submit_header{
.order-header-icons > a {
	 display:table-cell;
	 padding:20px 0 10px 0;
	 text-align:center;
	 color:$hover-font-color1;
	 text-decoration:none;
}
.order-header-icons > a.active {
	 color:$main-bg-color;
}
.order-header-icons > a .btn-info , .hh-order_submit_header .order-header-icons > a .btn-info:hover:not(.btn-link):not(.btn-flat) {
	 background:$main-border-color;
}
.order-header-icons > a.active .btn-info , .hh-order_submit_header .order-header-icons > a.active .btn-info:hover:not(.btn-link):not(.btn-flat) {
	 background:$main-bg-color;
}
.btn{
	padding: 15px 0 8px 0;
}
.progress{
	width:80%;
	height:10px;
	margin:-70px auto 70px auto;
	background:$main-border-color;
}
.progress .progress-bar-info {
    background-color:$main-bg-color;
}
}
/*hh-order_submit_2*/
.hh-order_submit_2{
.detail-row {
	padding:5px 0;
	border-bottom:dashed 1px $main-border-color;
}
.panel .form-group {
	padding-left:90px;
	
}
.panel .form-group .control-label {
	width:75px;
	float:left;
	margin-left:-85px;
	text-align:right;
}
.panel .form-group .row {
	padding-top:5px;
}
}
@media (max-width:767px){
	.hh-order_submit_2 .panel .form-group .row {
	padding-top:0;
}
}
