html,body{
	height:100%;
}
@media (max-width:767px){
	html,body{
	overflow-x:hidden;
}
}
.full-height{
	min-height:100%;
	padding:0 10px;
	margin:0 auto;
}
body{
	font:14px/2 Microsoft YaHei,SimSun,Arial;
}

ul , ol , li {
	list-style-type:none; vertical-align: middle;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
  font-family:Microsoft YaHei,SimSun,Arial;
}

.no-margin{
	margin:0;
}
.hh-mlr--10 {
	margin-left:-10px;
	margin-right:-10px;
}
.hh-margin-10 {
	margin:10px;
}
.no-padding{
	padding:0;
}

.hh-pb-30 {
    padding-bottom:30px;
}
.hh-plr-0 {
	padding-left:0;
	padding-right:0;
}
.hh-plr-10 {
	padding-left:10px;
	padding-right:10px;
}
.hh-ptp-10 {
	padding-top:10px;
	padding-bottom:10px;
}
.hh-padding-10 {
	padding:10px;
}

.hh-font-weight{
	font-weight:bold;
}

@for $size from 10 through 18 {
	.hh-font-size-#{$size} {
		font-size: #{$size}px;
	}
}
.border-div{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 16px;
}
.form-group .form-control:focus, .form-group-default .form-control:focus {
    background-image: linear-gradient($main-bg-color, $main-bg-color), linear-gradient(#d2d2d2, #d2d2d2);
}