---
layout: default
title: 线路详情
slug: line_details
top_nav: top_nav_style1
---
<div class="hh-line-details">
    <div class="line-header">
        <div class="line-image">
            <img src="asserts/images/line_details_01.png" alt="">
        </div>
        <div class="line-info">
            <h4 class="hh-font-weight hh-plr-10">昆明 新西兰-南北岛8日游 宿梯卡坡，山顶自助餐，赠玛塔玛塔，萤火虫洞,7月观星</h4>
        </div>
        <div class="line-price clearfix">
            <span class="price-text"><small>￥</small>2990	</span>
            <a href="#" class="btn btn-danger btn-lg no-margin pull-right">立即支付</a>
        </div>
    </div>
    {% for item in site.data.line_details_bak %}
    <div class="line-details">
        <div class="details-header clearfix">
        	<i class="{{ item.icon }}"></i> <span class="hh-font-weight">{{ item.text }}</span>
            <a class="right-angle pull-right"><i class="mdi-hardware-keyboard-arrow-down"></i><i class="mdi-hardware-keyboard-arrow-up"></i></a>
        </div>
        <div class="details-body">
            {% case item.slug %} {% when 'price' %}
            <div class="row">
                {% for i in (1..8) %}
                <div class="col-xs-6">
                    {{ item.content }}
                </div>
                {% endfor %}
            </div>
            {% when 'route_intro' %} 
            {% for i in (1..2) %}
            <div class="media {% if forloop.last %} {{  }} {% else %} {{ 'border-bottom' }} {% endif %}">
                <div class="media-left">
                    <a href="#">D{{ i }}</a>
                </div>
                <div class="media-body">
                    {{ item.content }}
                </div>
            </div>
            {% endfor %} 
            {% when 'fees_intro' or 'warm_tips' %} 
            	{{ item.content }} 
            {% endcase %}
        </div>
    </div>
    {% endfor %}
</div>




