---
layout: default
title: 高级搜索
slug: advanced_search
top_nav: top_nav_style1
---

<form class="form-horizontal search-form advanced-search">
	<fieldset>
		{% for item in site.data.search %}
			
				{% if item.text != empty %}
					{% case item.type %}
					{% when "btns" %}
					<div class=" form-group hh-border-b-10">
						<label for="inputEmail" class="col-xs-12 row hh-font-size-16">{{ item.text }}</label>
						<div class="col-xs-12 hh-plr-0 btn-fix-with-group">
							{% for btn in item.btns %}
							<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 hh-plr-5"><a href="#" class="btn btn-default btn-raised btn-block hh-font-size-14">{{ btn }}</a></div>
							{% endfor %}
						</div>
					</div>
					{% when "date_input" %}
					<div class=" form-group hh-row hh-border-b-10">
						<label for="inputEmail" class="control-label hh-font-size-16">{{ item.text }}</label>
						<div class="col-xs-12 col-sm-6">
							<input type="text" value="" class="form-control" >
							<span>-</span>
							<input type="text" value="" class="form-control" >
						</div>
					</div>
					{% when "input" %}
					<div class=" form-group hh-row">
						<label for="inputEmail" class="control-label hh-font-size-16">{{ item.text }}</label>
						<div class="col-xs-12 col-sm-6">
							<input id="{{ item.id }}" type="text" value="" class="form-control text-center"><span>{{ item.placeholder }}</span>
						</div>
					</div>
	            	{% endcase %}
		            
		            
	            {% else %}

	            	
	            	{% case item.type %}
					{% when "slider_price" %}
					<div class="slider-style hh-border-b-10">
						<div id="shor-price" class="slider shor-price slider-warning"></div>
					</div>
					{% when "slider_day" %}
					<div class="slider-style">
						<div id="shor-day" class="slider shor-day slider-warning"></div>
					</div>
					{% endcase %}
					
	            {% endif %}
        {% endfor %}

        <div class="hh-plr-10">
            <a href="#" class="btn btn-warning btn-lg btn-raised btn-block">搜索</a>
        </div>
	</fieldset>
</form>