---
layout: default
title: 首页
slug: home
carousel_text: true
bottom_nav: bottom_nav_style2
---
<div class="hh-home">
    <div class="search-bar">
        <form class="searchbox-container clearfix">
            <a href="select_city.html" class="select_city">长沙 <span class="caret"></span></a>
            <input type="search" class="searchbox" name="q" autocomplete="off" placeholder="Search">
            <button type="submit" class="searchbutton fa fa-search"></button>
        </form>
    </div>
    <div class="more-search clearfix">
        <a href="" title="">
            <i class="mdi-action-find-replace text-info hh-font-size-18 pull-left"></i>
            <span>更多搜索：类型、主题、时间、预算、出游方式</span>
            <i class="mdi-hardware-keyboard-arrow-right text-info  pull-right"></i>
        </a>
    </div>
    {% include carousel.html %}

    {% assign home_data = site.data.home %}

    <div class="btn-group btn-group-justified my-btn-group">
        {% for item in home_data.tour_icons %}
             <a href="javascript:void(0)" class="btn btn-fab btn-raised {{ item.bg_class }}">
                <i class=" {{ item.icon }}"></i><b class="hh-font-size-18">{{ item.text }}</b>
             </a>
        {% endfor %}
    </div>

    <div class="line-recomm">
        <div class="recomm-header clearfix hh-line-1 hh-padding-10">
            <div class="pull-left">线路推荐</div>
            <div class="pull-right"><a href="tour_list.html"><i class="mdi-hardware-keyboard-arrow-right"></i></a></div>
        </div>
        <div class="recomm-body">
            {% for i in (1..8) %}
                {% assign item = home_data.line_images %}
                <div class="col-xs-6">
                    <div class="image-wrapper">
                        <img src="asserts/images/{{ item.url }}" alt="线路推荐{{ i }}">
                        <div class="image-intro clearfix">
                            <div class="title">
                                {{ item.text }}
                            </div>
                        </div>
                        <div class="price">
                            {{ item.price }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

