---
layout: default
title: index
slug: index
---
<div class="panel-body">
    <div class="alert alert-dismissable alert-info shadow-z-1">
        <strong>所有页面列表</strong>
    </div>
    <div class="list-group my-list-group">
        {% for node in site.html_pages %} {% if node.slug != "index" %}
        <div class="list-group-item" style="padding-left:15px;">
          <div class="row-content" style="min-height: 20px;">
            <a href=".{{ node.url }}" style="display: block;width:100%;">
            <i class="fa fa-link" style="padding-right:10px;"></i>
            <p class="list-group-item-text" style="display:inline-block;">{{ node.title }}</p>
            </a>
          </div>
        </div>
        <div class="list-group-separator"></div>
        {% endif %} {% endfor %}
    </div>
</div>
