---
layout: default
title: 线路详情
slug: line_details
top_nav: top_nav_style1
---
<div class="hh-line-details">
    <div class="line-header">
        {% include carousel.html %}
        <div class="line-info">
            <h4 class="hh-font-weight hh-plr-10">昆明 新西兰-南北岛8日游 宿梯卡坡，山顶自助餐，赠玛塔玛塔，萤火虫洞,7月观星</h4>
        </div>
        <div class="line-price clearfix">
            <span class="price-text"><small>￥</small>2990</span>
            <a href="#" class="btn btn-danger btn-lg no-margin pull-right">立即支付</a>
        </div>
    </div>
    
    <div class="line-date">
        <div class="clearfix">
            <h4 class="hh-font-weight">查看班期和价格日历</h4>
            <i class="fa fa-chevron-right pull-right"></i>
        </div>
        <div class="line-date-body">
            {% for i in (1..10) %}
                
                {% if forloop.last %}
                    <a href="#" class="btn btn-raised btn-sm">...</a>
                {% else %}
                    <a href="#" class="btn btn-raised btn-sm">08/{{ i | plus:10 }}</a>
                {% endif %}

            {% endfor %}
        </div>
    </div>
    
    <div class="btn-group btn-group-justified">
        {% for item in site.data.line_details %}
            <a href="javascript:void(0)" class="btn btn-default">{{ item.text }}</a>
        {% endfor %}
    </div>


    {% for item in site.data.line_details %}

    <div class="line-details">
        {% if forloop.first %}

        {% else %}
        <div class="details-header clearfix">
        	<span class="hh-font-weight">{{ item.text }}</span>
        </div>
        {% endif %}
    
        {% if item.slug == 'route_intro' %}
            {% for i in (1..2) %}
            <div class="details-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">D{{ i }}</a>
                    </div>
                    <div class="media-body">
                        {{ item.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="details-body">
                {{ item.content }} 
            </div>
        {% endif %}    

        
    </div>
    {% endfor %}
</div>




