---
layout: default
title: 订单提交1
slug: order_submit_1
top_nav: top_nav_style1
step: 1
btn_text: 下一步
---

{% include order_submit_header.html %}
<div class="hh-order_submit_1">
    <form class="form-horizontal">
        <h4 class="tips-header hh-plr-10 hh-font-size-16 hh-font-weight">套餐选择</h4>
        <div class="detail-row hh-plr-10">
        	<a href="#" class="btn btn-warning btn-raised btn-sm">套餐A</a>
        </div>
        <h4 class="tips-header hh-plr-10 hh-font-size-16 hh-font-weight">日期选择</h4>
        <div class="panel">
            <div class="page-header clearfix hh-plr-10 hh-year-month-lr">
                <a id='#go-pre-month' class="btn btn-sm btn-default btn-raised pull-left calendar-nav" data-calendar-nav="prev"><i class="mdi-hardware-keyboard-arrow-left"></i></a>
                <h3 class="text-center hh-font-size-18"></h3>
                <a id='#go-next-month' class="btn btn-sm btn-default btn-raised pull-right calendar-nav" data-calendar-nav="next"><i class="mdi-hardware-keyboard-arrow-right"></i></a>
            </div>
            <div id="calendar"></div>
        </div>
        {% include order_submit_bottom_btn.html %}

        <div class="form-group hh-plr-10 order-submit-bottom">
            <a class="btn btn-warning btn-lg btn-raised btn-block loading-btn" href="#" disabled>
                Loading<span></span><span></span><span></span>
            </a>
        </div>

        
    </form>
</div>

