html, body {
  height: 100%;
  overflow-x: hidden; }

.full-height {
  min-height: 100%;
  padding: 0 10px;
  margin: 0 auto; }

body {
  font: 14px/2 Microsoft YaHei,SimSun,Arial; }

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
  font-family: Microsoft YaHei,SimSun,Arial; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.border-div {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 16px; }

.my-btn-group {
  margin-top: 0;
  box-shadow: none;
  margin-bottom: 20px; }
  .my-btn-group a i {
    display: block;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 10px;
    border-radius: 50%; }
  .my-btn-group a:nth-child(1) i {
    background-color: #f44336; }
  .my-btn-group a:nth-child(2) i {
    background-color: #4caf50; }
  .my-btn-group a:nth-child(3) i {
    background-color: #42a5f5; }

.my-list-group .list-group-item:hover {
  background-color: #f5f5f5; }
.my-list-group .list-group-item .row-picture img {
  width: 139px;
  height: 105px; }
.my-list-group .list-group-item .row-content {
  width: calc(100% - 160px);
  position: relative; }
.my-list-group .list-group-item .price-block {
  color: #ff5722;
  right: 0;
  bottom: -1.5em;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: right; }
  .my-list-group .list-group-item .price-block small {
    font-size: 70%; }
.my-list-group .list-group-separator:before {
  width: calc(100% - 175px); }

#my-tab {
  box-shadow: none !important;
  margin-right: 0;
  margin-left: 0; }
  #my-tab a {
    border-bottom: 1px solid #ccc; }
    #my-tab a.active {
      border: 1px solid #ccc;
      border-bottom: 0; }

.my-nav {
  background-color: transparent !important; }
  .my-nav + .container {
    padding-top: 3.5em; }

.top-panel h3 {
  padding: 0.5em 0; }
.top-panel .left-angel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2em; }

.top-panel,
.bottom-panel {
  background-color: #42a5f5;
  color: #fff; }

.top-panel,
.bottom-panel {
  height: 50px;
  position: relative; }

.main-container {
  padding: 0 5px; }

#go-top {
  position: absolute;
  right: 20px;
  color: #fff;
  top: 10px; }
  #go-top i {
    vertical-align: middle;
    font-size: 2.5em;
    padding-right: 2px; }

/* bottom_nav_style2 */
.bottom-panel.hh-bottom {
  height: 75px;
  padding-top: 14px; }
  .bottom-panel.hh-bottom, .bottom-panel.hh-bottom a {
    background-color: #fff; }
  .bottom-panel.hh-bottom .btn-group {
    margin: 0; }

.bottom-panel.hh-bottom a.btn.btn-default {
  color: #42a5f5;
  font-weight: bold; }

.bottom-panel.hh-bottom i {
  font-size: 24px;
  display: block; }

.home-heading {
  background-color: #42a5f5;
  color: #fff; }
  .home-heading .head-text {
    font-size: 2em;
    vertical-align: middle;
    padding-top: 0.5em; }
    .home-heading .head-text .i-address {
      padding-right: 10px; }
  .home-heading .head-search {
    outline: 0;
    width: 100%;
    display: block;
    margin-top: 0.5em;
    border: none;
    padding: 1em;
    border-radius: 20px;
    color: #000; }

.more-search {
  background-color: #dcf6ff;
  padding: 0.8em 0; }
  .more-search .left-content {
    font-size: 1.5em; }
  .more-search .search-list {
    font-size: 1.4em;
    margin-bottom: 0;
    padding-top: 2px; }

.travel-img {
  width: 100%;
  display: block; }

.hh-order-row-content {
  padding-top: 20px;
  padding-bottom: 30px; }

.hh-order-row-content .list-group .list-group-item .list-group-item-heading {
  font-size: 16px;
  line-height: 1.28; }

.hh-order-row-content .list-group .list-group-item .list-group-item-text {
  font-size: 12px; }

.hh-mt--10 {
  margin-top: -10px; }

.hh-mlr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.hh-pay-back {
  box-shadow: none;
  border: none; }

/*# sourceMappingURL=main.css.map */