$main-bg-color:#42a5f5;
$main-front-color:#fff;
$main-border-color:#ccc;

$second-bg-color: #dcf6ff;
$second-color-color: #ff5722;

$third-bg-color:#fff;
$third-front-color:#42a5f5;
$third-border-color:#eee;

$four-bg-color:#f5f5f5;
$four-border-color:#ccc;

$five-font-color1:#ff5722;

$calendar-bg-color:#d5ecff;
$calendar-front-color:#42a5f5;
$calendar-hover-font-color:#ff5722;

$hover-bg-color1:#f5f5f5;
$hover-font-color1:#333;