$main-bg-color:#42a5f5;
$main-front-color:#fff;

$second-bg-color: #dcf6ff;
$second-color-color: #ff5722;

$third-bg-color:#fff;
$third-front-color:#42a5f5;
$third-border-color:#eee;

$hover-bg-color1:#f5f5f5;