<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% if page.top_nav %}
		{% include {{ page.top_nav }}.html %}
    {% endif %}
    <div class="container panel full-height">
        <div class="row hh-mlr--10">
        	{{ content }}
        </div>
        

        {% case page.bottom_nav %}
        {% when 'bottom_nav_style1' %}
            <div class="height50"></div>
        {% when 'bottom_nav_style2' %}
            <div class="height70"></div>
        {% endcase %}
    </div>
    <div class="container go-top" id="fixed-actions">
            <div class="full-width">
                <a href="javascript:void(0)" id="scrollTop" class="btn btn-info btn-fab btn-raised mdi-hardware-keyboard-capslock"></a>
            </div>
        </div>
    {% if page.bottom_nav %}
		{% include {{ page.bottom_nav }}.html %}
    {% endif %}

    {% include footer.html %}
    

</body>
</html>
